.container {
    overflow: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
     text-align: center;
box-sizing: border-box;
}
.carousel_slide{
    background-color:#f3edd2; 
}

.first_screen {
background-color: white;
}

.top_first {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    height: 375px;
    font-family: 'Russo One', sans-serif;
    
}

.top_left h3 {
    display: block;
    font-size: 42px;
    color: red;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.logo_center h3 {
    display: block;
    font-size: 36px;
    top: 20px;
    color: red;
   
    align-items: center;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.text_right h2 {
    display: block;
    align-items: center;
    font-family: 'Lobster', cursive;
    color: red;
}

.log {
    display: block;
    top: 45px;
    align-items: center;
    height: 280px;
}



.down_text {
    display: block;
   background-color: #f3edd2;
    margin:0 auto;
}

.down_text h3 {
    display: block;
    width: 100%;
    color: #10269d;
    /*font-weight: bold;*/
    margin:0 auto;
    /*font-family: 'Russo One', sans-serif;*/
}
@media only screen and (max-width: 500px) {
    .down_text h3 {
        font-size: 16px !important;
        margin: 0 auto !important;
        height: 100px !important;
        padding-top: 15px !important;
    }
}
@media only screen and (max-width: 500px) {
    .service h4 {
        font-size: 16px !important;
        height: 80px !important;
        padding-top: 30px !important;

    }
}
@media only screen and (max-width: 500px) {
    .service p {
        font-size: 14px !important;
        height: 50px !important;
        padding-top: 10px !important;
        color: #10269d;

    }
}

@media only screen and (max-width: 500px) {
    h3 {
        font-size: 20px !important;
    }
}
@media only screen and (max-width: 500px) {
    h2 {
        font-size: 18px !important;
    }
}
@media only screen and (max-width: 500px) {
    h4 {
        font-size: 16px !important;
    }
}
.orange {
    width: 100%;
    height: 150px;
    background-color: #f3edd2;
    color: white;
   }
   @media only screen and (max-height: 500px) {
    .orange {
       height: 200px !important; 
       
    }
}
  

.orange_text {
    padding-top: 10px;
    display: block;
    align-items: center;
}
.orange_text h3 {
    color: #10269d;
}


@media only screen and (max-width: 500px) {
.service {
    position: static;
    height: 911px !important;
    }
}

.service {
    background-color: #f3edd2;
    height: 632px;
}

@media only screen and (max-height: 500px) {
.service {
        height: 1344px !important;
    }
}

.service h3 {
    color: #10269d;
}
.service h4 {
    color: red;

}
.service p {
    font-size: 22px;
    
    
}

.service ul {
    text-align: left;
    font-size: 22px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.footer {
    background-color: #1e1c18;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}
@media only screen and (max-height: 500px) {
.footer {
        height: 615px !important;
    }
}

.footer-block {
    background-color: black;
}
.listnone {
    text-decoration: none;
    color: white;
}
.listnone li {
    text-decoration: none;
    color: white;
    text-align: left;
}
.listnone ul {
    text-decoration: none;
    color: white;
}
.listnone a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
@media only screen and (max-width: 500px) {
    ul {
        font-size: 12px !important;
    }
}
